<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Watch This!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
      <div class="header">
      <h1 class="watch-this">Watch This!</h1>
        <nav>
          <ul class="nav-bar">            
            {{#if user}}
              <li><a id="nav-buttons" href="/">Home</a></li>
              <li><a id="nav-buttons" href="/users/logout">Logout</a></li>
            {{else}}
              <li><a id="nav-buttons" href="/users/login">Login</a></li>
              <li><a id="nav-buttons" href="/users/register">Register</a></li>
            {{/if}}            
          </ul>
        </nav>        
      </div>

      
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{seccess_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}
          
          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Watch This!</p>
      </footer>

    </div> <!-- /container -->

  <!-- Scripts -->

  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
    let ENV = "{{settings.env}}";
    let LOGGED_IN = "{{loggedIn}}";

  </script>  
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>